.home-about {
  background-color: $dark-background-color;
  border-top: black solid 4px;
  border-bottom: black solid 4px;
  color: $text-color-of-dark-background;
}

.home-about__image {
  float: left;
  clear: both;
  width: 50%;
  padding-right: 1.25em;
  padding-bottom: 0.4em;
}

.home-about__description{
  text-align: justify;
}

.home-about__wrap::after {
  content: "";
  display: block;
  clear: both;
}

.home-about__button {
  display: flex;
  text-decoration: none;
  border: $text-color-of-dark-background solid 0.25em;
  color: $text-color-of-dark-background;
  width: 150px;
  height: 50px;
  margin: auto;
  transition: all 0.15s;
}

.home-about__button-caption {
  margin: auto;
}

.home-about__button:hover {
  border: $text-color-of-dark-background solid 0.5em;
}

@media screen and (max-width: $minimal-width) {
  .home-about__image {
    float: none;
    width: 100%;
    padding-right: 0;
  }
}
