.quick-menu {
  max-width: $full-width;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 400px));
  grid-gap: 1rem;
  padding: 0 10px 30px;
}

.quick-menu__caption {
  text-align: center;
  grid-column: 1 / -1;
}

.quick-menu__link {
  height: 200px;
  background-position: center center;
  background-size: cover;
  display: flex;
  text-align: center;
  transition: all 0.15s;
  font-size: 25px;
}

.quick-menu__text {
  background-color: rgba(black, 0.6);
  width: 100%;
  padding: 20px 0;
  margin: auto;
}

.quick-menu__link:hover {
  border: $navigation__link_active_color solid 8px;
  color: $navigation__link_active_color;
}

@media screen and (max-width: $middle-width) {
  .quick-menu {
    grid-template-columns: repeat(3, minmax(100px, 250px));
    grid-gap: 0.5rem;
    padding: 0 10px 10px;
  }
  .quick-menu__caption {
    text-align: center;
    font-size: 15px;
  }
  .quick-menu__link {
    height: 100px;
    font-size: 17px;
  }
  .quick-menu__text {
    padding: 10px 0;
  }
}

@media screen and (max-width: $minimal-width) {
  .quick-menu {
    grid-template-columns: repeat(2, minmax(50px, 250px));
  }
  .quick-menu__link {
    font-size: 15px;
  }
  .quick-menu__text {
    padding: 7px 0;
  }
}
