.home-menu {
  max-width: $full-width;
  margin: auto;
}

.home-menu_wrapper{
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 400px));
  grid-gap: 1rem;
  padding: 0 0.6em 1em;
}

.home-menu__link {
  height: 200px;
  background-position: center center;
  background-size: cover;
  display: flex;
  text-align: center;
  font-size: 1.5rem;
  transition: all 0.15s;
}

.home-menu__text {
  background-color: rgba(black, 0.6);
  width: 100%;
  padding: 0.8em 0;
  margin: auto;
}

.home-menu__link:hover {
  border: $bright-action-color solid 8px;
  color: $bright-action-color;
}

@media screen and (max-width: $middle-width) {
  .home-menu_wrapper {
    grid-template-columns: repeat(3, minmax(100px, 250px));
    grid-gap: 0.5rem;
  }
  .home-menu__link {
    height: 100px;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: $minimal-width) {
  .home-menu_wrapper {
    grid-template-columns: repeat(2, minmax(50px, 250px));
  }
}
