.header {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.navigation {
  list-style: none;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navigation__item {
  display: inline-block;
  height: 100%;
}

.navigation__item:hover {
  background-color:  rgba(0, 0, 0, 0.5);
}

.navigation__link {
  display: block;
  padding: 15px 25px 11px;
  font-weight: 200;
  font-size: 15px;
}

.navigation__link:hover {
  border-bottom: rgba(255, 167, 36, 0.5) solid 4px;
}

.navigation__link_active {
  background-color:  rgba(0, 0, 0, 0.3);
  border-bottom: $navigation__link_active_color solid 4px;
  color: $navigation__link_active_color;
  box-sizing: border-box;
}

.navigation__link_active:hover {
  border-bottom: $navigation__link_active_color solid 4px;
}

@media screen and (max-width: $middle-width){
  .navigation__link{
    padding: 10px 15px 6px;
    font-size: 13px;
  }
}

@media screen and (max-width: $minimal-width){
  .navigation__link{
    padding: 10px 11px 6px;
    font-size: 11px;
  }
}