.header{
  width: 100%;
}

.menu{
  list-style: none;
  margin: auto;
  padding: 0;
  width: fit-content;
}

.menu__item{
  display: inline-block;
  height: 100%;
}

.menu__item:hover{
  background-color: bisque;
}

.menu__link{
  text-decoration: none;
  display: block;
  padding: 10px 20px;
}