.header {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.header_sticky {
  position: sticky;
  top: 0;
}

.navigation {
  list-style: none;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navigation__item {
  display: inline-block;
  height: 100%;
}

.navigation__item:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.navigation__link {
  display: block;
  padding: 1em 1.2em 0.7em;
  white-space: nowrap;
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.navigation__link:hover {
  border-bottom: 4px solid rgba($bright-action-color, 0.5);
}

.navigation__link_active {
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: $bright-action-color solid 4px;
  color: $bright-action-color;
  box-sizing: border-box;
}

.navigation__link_active:hover {
  border-bottom: $bright-action-color solid 4px;
}

.navigation-lang {
  cursor: pointer;
  position: relative;
}

.navigation-lang__label{
  padding: 1em 0.8em 0.7em;
}

.navigation-lang__label:hover{
  border-bottom: 4px solid rgba(black, 0);
}

.navigation-lang-list {
  padding: 0;
  position: absolute;
  left: 0;
  min-width: 100%;
  background-color: rgba(black, 0.5);
  display: none;
}

.navigation-lang__item {
  list-style-type: none;
  padding: 1em 0;
  font-size: 0.8rem;
  text-align: center;
  background-color: rgba(black, 0);
  border: none;
  cursor: pointer;
  width: 100%;
}

.navigation-lang__item:focus, .navigation-lang__item:active {
  border: none;
}

.navigation-lang__item:hover {
  background-color: rgba($bright-action-color, 0.5);
}

.navigation-lang__item_active {
  background-color: rgba(black, 0);
  display: none;
}

.navigation-lang:hover .navigation-lang-list {
  display: block;
}

@media screen and (max-width: $minimal-width) {
  .navigation__item {
    width: 100%;
  }
  .navigation__link {
    text-align: center;
    padding: 1em 0.6em 0.7em;
  }
}
