.footer {
  background-color: $main-background;
  border-top: black solid 4px;
  color: bisque;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 180px;
  margin: auto 0;
}

.footer__item {
  padding: 0.3em;
  color: bisque;
}

.footer__item-link {
  color: bisque;
}

.footer__social-items{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  align-items: center;
  margin: auto 0;
}

.footer__social-link {
  font-size: 2.5rem;
  padding: 0 0.1em;
}

.footer__item_wraping{
  display: none;
}

@media screen and (max-width: $middle-width) {
  .footer-wrap {
    padding: 0.6em 0.3em;
  }
  .footer__logo {
    width: 130px;
  }
  .footer__item_wraping{
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .footer__logo {
    display: none;
  }
}

@media screen and (max-width: $minimal-width) {
  .footer-wrap {
    flex-wrap: wrap;
  }
  .footer__item {
    margin: auto;
  }
  .footer__social-items{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .footer__social-link {
    font-size: 3rem;
  }
}
