$bright-action-color: rgb(255, 167, 36);
$dark-background-color: rgb(0, 33, 59);
$text-color-of-dark-background: bisque;
$full-width: 1260px;
$middle-width: 800px;
$minimal-width: 400px;

* {
  box-sizing: border-box;
}

:root {
  font-size: 1em;
}
@media screen and (max-width: $middle-width) {
  :root {
    font-size: 0.9375em;
  }
}
@media screen and (max-width: $minimal-width) {
  :root {
    font-size: 0.875em;
  }
}

body {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.link {
  text-decoration: none;
  color: white;
}

.content {
  background-color: white;
}

.section-wraper {
  max-width: $full-width;
  margin: auto;
  padding: 1.3em 0.65em;
}

.caption{
  text-align: center;
  font-size: 1.5rem;
}

.background-image {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
}

@import "components/header/header.scss";
@import "components/footer/footer.scss";
@import "components/home/home.scss";
@import "components/home/homeMenu/homeMenu.scss";
@import "components/home/homeAbout/homeAbout.scss";
@import "components/home/makeOrder/makeOrder.scss";
@import "components/menu/menu.scss";
@import "components/menu/catalog/catalog.scss";
@import "components/menu/sideNav/sideNav.scss";
@import "components/about/about.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
