$navigation__link_active_color: rgb(255, 167, 36);
$main-background: rgb(0, 33, 59);
$full-width: 1260px;
$middle-width: 800px;
$minimal-width: 400px;

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Roboto',Arial,Helvetica,sans-serif;
}

.link{
  text-decoration: none;
  color: white;
}

.section-wraper{
  max-width: $full-width;
  margin: auto;
  padding: 20px 10px;
}

@import "components/header/header.scss";
@import "components/footer/footer.scss";
@import "components/main/main.scss";
@import "components/main/background/background.scss";
@import "components/main/quickMenu/quickMenu.scss";
@import "components/main/mainAbout/mainAbout.scss";
@import "components/main/makeOrder/makeOrder.scss";
@import "components/menu/menu.scss";
@import "components/menu/catalog/catalog.scss";
@import "components/menu/sideNav/sideNav.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');